firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
__pycache__/
.venv/
*.pyc
firmware/tools/lut8_pads_used.json
firmware/tools/lutg_pads_used.json
firmware/tools/lutg_psk8_pads_used.json
firmware/tools/lutg_p8s8_pads_used.json
firmware/tools/lutg_a16_pads_used.json
firmware/tools/lutg_a16s8_pads_used.json
firmware/tools/lutg_a32_pads_used.json
